a{
    text-decoration: none;
}

/*      N A V B A R  M E N U     */

.page-head{
    background-image: url("../img/rana-sawalha-364253-unsplash.jpg");
    background-size: cover;
    height: 100vh;
}
.container{
    width: 1200px;
    position: relative;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: black;
    opacity: 0.6;
    position: fixed;
    width: 1200px;
    z-index: 100;
}
.journey-link{
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    transition: .3s;
    opacity: 0.8;
}
.journey-link:hover{
    color: rgb(60, 184, 120);
}
.second-nav-menu{
    display: flex;
    justify-content: flex-end;
}
.icons-area{
    margin-right: 25px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.m-r{
    margin-right: 20px;
}
.l-c{
    color: white;
    cursor: pointer;
    transition: .3s;
}
.l-c:hover{
    color: rgb(60, 184, 120);
    text-decoration: underline;
}
.welcome{
    color: white;
    font-family: sans-serif;
}
.log-sign{
    color: rgb(60, 184, 120);
    font-family: sans-serif;
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
    transition: .3s;
    opacity: 0.7;
}
.log-sign:hover{
    text-decoration: underline;
}

            /*    M A I N    M E N U   */


.log-page{
    width: 350px;
    height: 450px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);

}
.squared{
    width: 15px;
    height: 15px;
    background-color: rgb(60, 184, 120) ;
    position: absolute;
    left: 0;
    top: 20px;
}
.sign-up{
    margin: 20px 35px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}
.s-log{
    color: rgb(60, 184, 120);
}
.man-icon{
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
    margin-right: 35px;
}
.fb{
    padding: 10px 20px;
    background-color: rgb(48, 93, 184);
    color: white;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 20px;
    font-style: bold;
    font-weight: 650;
}
.google{
    padding: 10px 20px;
    background-color: rgb(223, 74, 50);
    color: white;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 20px;
    font-style: bold;
    font-weight: 650;
}
.span-text{
    font-size: 13px;
    padding-left: 15px;
}
.or{
    margin-left: 35px;
    margin-right: 35px;
    text-align: center;
    padding-top: 20px;
    color: grey;
}
.form{
    margin: 10px 35px;
}
.input{
    padding: 5px 10px;
    margin: 5px 0;
    font-size: 13px;
    padding-right: 90px;
    border: 1px solid rgb(234, 234 , 234);
}
.input:hover{
    border: 2px solid rgb(231, 214, 214);
    border-right: 1px solid rgb(231, 214, 214);
    border-left: 1px solid rgb(231, 214, 214);
    border-top: transparent;
}
::placeholder{
    color: rgb(200, 200 , 200);
    opacity: 1;
}
.terms{
    color: rgb(60, 184, 120);
    margin-left: 5px;
    cursor: pointer;
    font-size: 13px;
}
.terms:hover{
    text-decoration: underline;
}
.check-terms{
    margin-top: 5px;
    margin-bottom: 10px;
}
.submit{
    text-align: center;
    background-color: rgb(60, 184, 120);
    padding: 10px 80px;
    color: white;
    border-radius: 3px;
    font-size: 14px;
    margin-top: 10px;
}
#agree{
    font-family: sans-serif;
    font-size: 12px;
}




